Debug
/hw4/hw4/Debug/hw4.tlog/*.lastbuildstate
/hw4/hw4/Debug/hw4.tlog/*.tlog
hw4.lastbuildstate
link.command.1.tlog
link.read.1.tlog
link.write.1.tlog
cl.command.1.tlog
CL.read.1.tlog
CL.write.1.tlog
/hw4/hw4.sdf
